<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02 flex-col md:flex-row h-20">
    
{{!-- name and logo --}}
    <div class="flex items-center w-auto" onclick="window.location.replace('/')">
        <a  class="flex-shrink-0 mr-0.5">
          <img src="/images/chocolate.png" alt="Descriptive Text" class="h-8 w-auto hover:opacity-75 duration-200">          
        </a>

        <h2 class="flex-shrink-0 mr-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer text-3xl font-bold mt-.5  " >Gobble Global</h2>
    </div>

    <!-- navigation -->
    <nav class="nav font-semibold text-lg  justify-between items-center w-auto max-w-1xl mx-auto md:block ">        
   
    
        <ul class="flex flex-col md:flex-row items-center">           

            <li
              class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer flex-wrap ">
              <a href="/" class="flex-wrap flex">Home</a>
            </li>
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer flex items-center md:flex-col flex-wrap">
              <a href="/browse" class="flex-wrap flex">Browse</a>
            </li>
            {{!-- <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer flex items-center md:flex-col flex-wrap">
              <a href="" class="flex-wrap flex">Lists</a>
            </li> --}}

            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer flex items-center md:flex-col flex-wrap">
              <a href="/dashboard" class="flex-wrap flex">Dashboard</a>
            </li>
            

        </ul>

{{!-- Sign in options --}}
    </nav>

        <ul class="flex flex-col md:flex-row items-center font-semibold text-lg">
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active">
             <a href="/signup">Sign Up</a>
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
              <a href="/login">Login</a>
            </li>

        </ul>


</header>