<div class="">
    <div class="p-5">
        <form class="flex ">
            {{!-- <div class="">
                <label for="default-search" class="">
                </label>
                <div class="">
                    <div class="inset-y-0 start-0 flex items-center ps-3">
                        <svg class=" w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" /> 
                        </svg> 
                        <div class="p-3">
                            <input type="text" id="search" placeholder="Search Snacks.." class="p-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 ">
                            <button type="button" id="search-btn" class="p-5 text-sm text-white border border-gray-300 rounded-lg bg-blue-700 focus:ring-blue-500 focus:border-blue-500 ">Search</button>
                        </div>
                </div>
            </div> --}}
        </form>

        <div class="p-3 flex flex-row items-center justify-center">

            <div class="p-3">
                <form>
                    <label for="countries">Choose a Country: </label>
                    <select id="countries" class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 ">
                        <option selecteḏ>Country</option>
                        {{#each countries as |country|}}
                        <option value="{{country_name}}">{{country_name}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>

            <div class="p-3">
                <form>
                    <label for="categories">Choose a Catagory: </label>
                    <select id="categories" class="p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 ">
                        <option selecteḏ>Category</option>
                        {{#each categories as |Category|}}
                        <option value="{{category_name}}">{{category_name}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>

            <button type="button" id="submit-filters" class="p-2 m-2 text-sm text-white border border-gray-300 rounded-lg bg-blue-700 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Search Snacks</button>

        </div>
    </div>

    <hr class="border-orange-300">

    <div id="results">
        <div id="snackResults" class="flex flex-row items-center">
            {{#each snacks as |snack|}}
                {{> snack-details}}
            {{/each}}
        </div>
    </div>
     
</div>

<script src="/js/browse.js"></script>