<div>
    <h2>You have tried: Insert Number of Snacks from: Insert Number of Countries?</h2>
    {{!-- Insert some sort of statistics board --}}
</div>
<div>
    <h2>Your wishlist</h2>
    <div>
        {{!-- Render wishList snacks here  --}}
    </div>
    <h2>Your ratings</h2>
    <div>
        {{!-- Render list of ratings for snacks here --}}
    </div>
    <h2>Snacks you've added</h2>
    <div>
        
    </div>
</div>