{{!-- login form --}}
<div class="flex flex-row w-screen justify-evenly m-8 rounded-md">
    <div class="w-2/5 shadow-md bg-stone-100 flex flex-col items-center h-4/5 p-5 justify-center">
        <h1 class="justify-center  text-2xl font-bold  mb-12">Login Here!</h1>
        <form id="login-form" class="space-y-8">
            <div class="my-2 flex flex-col mb-3">
                <label class="mb-2 text-sm font-semibold text-gray-900  self-start ">Email :</label>
                <input type="text" id="email-login" name="username" class="form-input mt-1 block w-full p-2 border rounded-md" required>
            </div>
            <div class="my-2 flex flex-col mb-3">
                <label class="mb-2 text-sm font-semibold text-gray-900  self-start">Password:</label>
                <input type="password" id="password-login" name="password" class="form-input mt-1 block w-full p-2 border rounded-md" required>
            </div>
            <div class="flex justify-center my-4 mb-3">
                <button type="submit"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-8">Login</button>
            </div>
            <div class="flex justify-center my-4 mb-3">
                <p class="flex justify-center my-4 mb-3"> Don't have an account yet?</p>
            </div>
            <div class="flex justify-center my-4 mb-3">
                <a href="/signup"
                    class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-8">Sign Up Here</a>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js">