<div class="flex flex-col items-center">
    <h1 class="text-xl font-bold my-4 self-start ml-10 mb-6">Sign Up Here!</h1>
    <form class="space-y-8">
        <div class="my-2 p-6 flex flex-col mb-3">
            <label class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 self-start">Country of Birth:</label>
            <input type="text" name="country" class="form-input mt-1 block w-full p-2" required>
        </div>
        <div class="my-2 flex flex-col mb-3">
            <label class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 self-start">Date of Birth:</label>
            <input type="date" name="DOB" class="form-input mt-1 block w-full p-2">
        </div>
        <div class="my-2 flex flex-col mb-3">
            <label class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 self-start">Username:</label>
            <input type="text" name="Username" class="form-input mt-1 block w-full p-2" required>
        </div>
        <div class="my-2 flex flex-col mb-3">
            <label class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 self-start">Email:</label>
            <input type="email" name="Email" class="form-input mt-1 block w-full p-2" required>
        </div>
        <div class="my-2 flex flex-col mb-3">
            <label class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 self-start">Password:</label>
            <input type="password" name="Password" class="form-input mt-1 block w-full p-2" required>
        </div>
        <div class="flex justify-center my-4 mb-3">
            <button type="submit" class="text-sm font-medium bg-orange-400 text-white p-3 rounded-full">Sign Up</button>
        </div>
    </form>
</div>

<script src="../public/js/signup.js"></script>
